@model IEnumerable<IGrouping<DateTime,PersonalBudget.Models.Transaction>>

@{
    ViewData["Title"] = "Transactions";
}

<div class="row">
    <ul class="control nav navbar-nav">
        <li>
            <a asp-action="Create"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Income</a>
        </li>
        <li>
            <a asp-action="Create"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Add Expense</a>
        </li>
    </ul>
</div>
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).Description)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>

    @foreach (var transactionGroup in Model)
    {
        <div class="transaction-group">

            <table class="table">
                <thead>
                    <tr>
                        <th>@transactionGroup.Key.ToString("dd/MM/yyyy")</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in transactionGroup)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => transaction.Value)
                                &#8364 @*euro*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => transaction.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => transaction.Description)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@transaction.ID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@transaction.ID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@transaction.ID">Delete</a>
                            </td>
                        </tr>

                    }
                </tbody>

                </table>
            </div>
                }
</div>